<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="PerfectStorm.ServiceLocator" type="PerfectStorm.ServiceLocatorConfig, PerfectStorm.ServiceLocator" />
  </configSections>
  <PerfectStorm.ServiceLocator>
    <assembly name="My fully qualified name" />
  </PerfectStorm.ServiceLocator>
  </configuration>