@model LogViewerWebRole.Models.ILogEntries
@using MvcContrib.UI.Grid 

@{
    ViewBag.Title = "Index";
}

<style>
table {font-family:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;font-size:12px;width:480px;text-align:left;border-collapse:collapse;margin:20px;}
th {font-size:13px;font-weight:normal;background:#b9c9fe;border-top:4px solid #aabcfe;border-bottom:1px solid #fff;color:#039;padding:8px;}
td {background:#e8edff;border-bottom:1px solid #fff;color:#669;border-top:1px solid transparent;padding:8px;}
tr:hover td{background:#d0dafd;color:#339;}
</style>

<h2>Index</h2>


@Html.Grid(Model.Log).AutoGenerateColumns()
                     


